@import url('https://fonts.googleapis.com/css2?family=Ostrich+Sans+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
    font-family: "Montserrat";
}
.font-custom {
    font-family:sans-serif;
  }

  .font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
    /* Add any additional styling */
  }
  
  
  
  
  
  
  