@import url('https://fonts.googleapis.com/css2?family=Ostrich+Sans+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.font-custom {
    font-family:sans-serif;
  }

  .font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
    /* Add any additional styling */
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set a minimum height of the viewport height */
    margin: 0;
  }
  
  #root {
    flex: 1; /* Allow the main content to grow and take up all available space */
    display: flex;
    flex-direction: column;
  }
  
  .footer-container {
    flex-shrink: 0; /* Prevent the footer from shrinking */
  }

 

/* Add this to your CSS styles or in a separate CSS file */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adds the blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the overlay appears above other content */
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  padding: 20px;
  z-index: 99999; /* Ensure the content appears above the overlay */
}

.custom-popup-width {
  width: 800px; /* Set the desired width for the popup */
}

.max-h-screen {
  max-height: calc(100vh - 40px); /* Subtract any additional padding/margin values if present */
}

.max-w-small {
  max-width: 200px; /* Adjust the value as per your requirement */
}



  
  
  
  
  
  
  
  
  
